# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# Tauri
src-tauri/target
src-tauri/bin

# desktop artifacts
releases

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

CLAUDE.md
.claude
.opencode
db.sqliteworkopilot-front-end/
example_**.png

*.sqlite
*.sqlite-shm
*.sqlite-wal
